@charset "utf-8";
@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
*{margin: 0;padding: 0;box-sizing: border-box;}
*{-webkit-text-size-adjust:none}
body{position:relative;width:100%;font-family: 'Pretendard-Medium', sans-serif!important;font-size:14px;line-height:normal!important;color:#333333;letter-spacing: 0;-webkit-overflow-scrolling: touch; background: #ffffff; min-width: 320px;}
.clearfix::after{
    content: '';
    display: block;
    clear: both
}
/* button*/
button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    width:200px;
    height:40px;
    text-align: center;
    line-height: 40px;
    padding:0 15px;
    border-radius: 70px;
    font-size: 20px;
    font-family: 'Pretendard-SemiBold', sans-serif!important;
    transition: .3s ease-out, -webkit-.3s ease-out;
}
button.btn{
    background:#3379AE;
    color:#ffffff;
    border-radius: 10px;
}
/* a-btn */
a.btn{
    width: 200px;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background:#3379AE;
    color:#ffffff;
    border-radius: 70px;
    font-size:32px;
    transition: .3s ease-out, -webkit-.3s ease-out; 
}
/* text */
input[type=text], input[type=password]{
    font-size: 14px;
    width:324px;
    height:60px;
    padding:0 16px;
    line-height: 60px;
    background:#ffffff;
    border:1px solid #cccccc;
    color:#6a6a6a;
}
input::placeholder {color:#a5a5a5;font-family: 'Pretendard-Medium';}
input::-webkit-input-placeholder {color:#a5a5a5;font-family: 'Pretendard-Medium';}
input:-ms-input-placeholder {color:#a5a5a5;font-family: 'Pretendard-Medium';}
textarea{font-size: 20px;}
textarea::placeholder {color:#a5a5a5;font-family: 'Pretendard-Medium';vertical-align: middle;}
textarea::-webkit-input-placeholder {color:#a5a5a5;font-family: 'Pretendard-Medium';}
textarea:-ms-input-placeholder {color:#a5a5a5;font-family: 'Pretendard-Medium';}
input[readonly]{
    background:#d9d9d9;
}
select{
    width:324px;
    height:60px;
    padding: 0 16px 0 5px;
    line-height: 60px;
    background:#ffffff;
    border:1px solid #BBBBBB;
    color:#333333;
    cursor: pointer;
}
textarea{
    background:#ffffff;
    border:1px solid #BBBBBB;
    color:#333333;
    font-family: 'Pretendard-Medium', sans-serif;
    font-weight: 300;
}

select::-ms-expand {display:none}
input[type=radio]{
    visibility: hidden;
}
input[type=radio]+label{
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    margin-right: 4px;
    white-space: nowrap;
}
input[type=radio]+label::before{
    content: '';
    display:inline-block;
    position:absolute;
    top:3px;
    left:0;
    width:18px;
    height:18px;
    border-radius: 10px;
    border:1px solid #bbbbbb;
    background:#fff;
}
input[type=radio]:checked+label::after{
    content: '';
    display:inline-block;
    position:absolute;
    top:7px;
    left:4px;
    width:12px;
    height:12px;
    border-radius: 10px;
    background:#ab1417;
}
input[type=radio]:checked+label::before{
    border-color:#ab1417;
}
/* 체크박스 */
input[type=checkbox]{display: none;}
input[type=checkbox]+label{
    position: relative;
    padding-left: 45px;
    margin-right: 5px;
    font-size: 13px;
    cursor: pointer;
    line-height: 35px;
}
input[type=checkbox]+label::before{
    content: '';
    display:inline-block;
    position:absolute;
    top:8px;
    left:0;
    width:18px;
    height:18px;
    border-radius: 3px;
    border:1px solid;
}
input[type=checkbox]:checked+label::after{
    content: '';
    display:inline-block;
    position:absolute;
    top: 8px;
    left: 0px;
    width:20px;
    height:20px;
    border-radius: 2px;
    background:url(../img/icon-Bcheck.png) no-repeat center / cover;
}
input[type=checkbox]:checked+label::before{
    background: none;
}
/* font */
.bold {font-family: 'Pretendard-Bold';}
/* padding */
.pd0{padding: 0;}
.pd10{padding: 10px;}
.pd15{padding: 15px;}
.pd20{padding: 20px;}
.pd30{padding: 30px;}
.pd40{padding: 40px;}
.pd50{padding: 50px;}
.pd100{padding: 100px;}

.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb70{padding-bottom:70px;}
.pb80{padding-bottom:80px;}
.pb90{padding-bottom:90px;}
.pb100{padding-bottom:100px;}

.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt50{padding-top:50px;}
.pt100{padding-top:100px;}

.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}

.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}

/* margin */
.mg10{margin: 10px;}
.mg15{margin: 15px;}
.mg20{margin: 20px;}
.mg30{margin: 30px;}
.mg40{margin: 40px;}
.mg50{margin: 50px;}
.mg100{margin: 100px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.mb60{margin-bottom:60px;}
.mb70{margin-bottom:70px;}
.mb80{margin-bottom:80px;}
.mb90{margin-bottom:90px;}
.mb100{margin-bottom:100px;}

.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mt70{margin-top:70px;}
.mt80{margin-top:80px;}
.mt90{margin-top:90px;}
.mt100{margin-top:100px;}

.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mt60{margin-right:60px;}
.mt70{margin-right:70px;}
.mt80{margin-right:80px;}
.mt90{margin-right:90px;}
.mr100{margin-right:100px;}

.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.mt60{margin-left:60px;}
.mt70{margin-left:70px;}
.mt80{margin-left:80px;}
.mt90{margin-left:90px;}
.ml100{margin-left:100px;}

/* width */
.per5{width:5%;}
.per10{width:10%;}
.per15{width:15%;}
.per20{width:20%;}
.per25{width:25%;}
.per30{width:30%;}
.per35{width:35%;}
.per40{width:40%;}
.per45{width:45%;}
.per50{width:50%;}
.per55{width:55%;}
.per60{width:60%;}
.per65{width:65%;}
.per70{width:70%;}
.per75{width:75%;}
.per80{width:80%;}
.per85{width:85%;}
.per90{width:90%;}
.per95{width:95%;}
.per100{width:100%;}

.px10{width:10px;}
.px20{width:20px;}
.px30{width:30px;}
.px40{width:40px;}
.px50{width:50px;}
.px60{width:60px;}
.px70{width:70px;}
.px80{width:80px;}
.px90 {width:90px;}
.px100{width:100px;}
.px150{width:150px;}
.px200{width:200px;}
.px250{width:250px;}
.px300{width:300px;}
.px350{width:350px;}
.px400{width:400px;}
.px450{width:450px;}
.px500{width:500px;}
.px550{width:550px;}
.px600{width:600px;}
.px650{width:650px;}
.px700{width:700px;}

/* flex */
.flexwrap{
    display:flex;
    justify-content:space-between;
}
.flexwrap div.half{
    flex-basis:calc(50% - 5px);
    width:calc(50% - 5px);
}
.flexwrap .flexauto{
    flex:1 1 auto;
}
.flexwrap .flexgrow{
    flex:1 1 50%;
}
.flexwrap .flex50{
    flex:0 0 50%;
}
.flexwrap .flex15{
    flex:0 1 35%;
}
.flexwrap .flex10{
    flex:0 1 15%;
}
.flexwrap .flex150px{
    flex:0 1 150px;
}
.flexwrap .flex190px{
    flex:0 1 190px;
}
.flexwrap .flex250px{
    flex:0 1 250px;
}
.flexwrap .flex950px{
    display:flex;
    flex:0 1 950px;
}
.flexCenter{
    display: flex;
    align-items: center;
}
.flexStart{
    display:flex;
    justify-content: flex-start;
}
.flexEnd{
    display:flex;
    justify-content: flex-end;
}
.flexColEnd{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}
.flexCol{
    flex-direction: column;
}
/* 모달 */
.modal-wrap.on{
    display:block;
}
.modal-wrap{
    display:none;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.6);
    z-index: 999;
}
.modal-body{
    position:fixed;
    top:50%;
    left: 50%;
    width: 300px;
    padding: 35px 0 0;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
}
.modal-body .mod-close{
    right: 3px;
}
.modal-body p{
    padding: 0 30px;
}
.modal-body .btnbox{
    width:100%;
    margin-top: 30px;
}
.modal-body .btnbox button{
    width: 50%;
    float: left;
    font-size: 14px;
    border-radius: 0;
    font-family:  'Pretendard-Regular', sans-serif!important;
}
.modal-body .cancelbtn{
    background-color: #e0e0e0;
    color: #909090;
}
.modal-body .delbtn{
    background-color: #3379AE;
    color: #ffffff
}
/* wrap */
.wrap{
    background: url(../img/bg.png)no-repeat center / cover;
    height: 100vh;
}
.wrap2{
    height: 100vh;
}
/* header */
ft;
}
/* main */

@keyframes dot{
    0% {
        opacity: 0.2;
    }
    10% {
        opacity: 1;
    }
    50%{
        opacity: 0.2;
    }
    100% {
        opacity: 0.2;
    }
}
@media screen and (min-width:0\0){
    .ellipsis{
        min-width: 100px;
        width: calc(100% - 20px);
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        float: left;
    }
    .list-f span.name{
        max-width: 30%;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        float: left;
        min-width: 10px;
    }
}
@media screen and (max-width:1280px) {
    
}
@media screen and (max-width:1024px) {
    
}
@media screen and (max-width:766px) {
    
}

